Users Engine Route

<ul>
  {{#each model as |record|}}
    <li data-test={{hook 'userRecord'}}>
      Username: {{record.username}} |
      First Name: {{record.firstName}} |
      Last Name: {{record.lastName}} |
      Email: {{record.email}} |
      UUID: {{record.uuid}} |
      Description: {{record.description}}
    </li>
    <br>
  {{else}}
    No records to show
  {{/each}}
</ul>
